<div id="rightNavBar" class="rightNavMenu">
    <button id="rightNavMenuButton" class="rightNavMenuButton"><i id="navMenuIcon" class="glyphicon glyphicon-chevron-down"></i></button>
    <div id="menu" class="hidden">
        <ul>
            <li ng-repeat="link in internalLinks">
                <a ng-click="loadView(link.id);" ng-class="{ active:isSelected(link.id) }" ng-href="#{{link.link}}">{{link.name}}</a>
            </li>
        </ul>
    </div>
    <p id="navText" class="rotate">SVBTLE</p>
</div>