<section ng-show="activeView === 1">
    <div class="subArticles">
        <h2>Also Read</h2>
        <a href="#" class="subArticleTitle">Secondary Article Title</a>
        <a href="#" class="subArticleAuthor">Author Name</a>
        <p>
            Article Snippet goes here
        </p>

        <a href="#" class="subArticleTitle">Some Other Secondary Article Title</a>
        <a href="#" class="subArticleAuthor">Author Name</a>
        <p>
            Sed pretium, ligula sollicitudin laoreet viverra, tortor libero sodales leo, eget blandit nunc tortor eu nibh. Nullam mollis. Ut justo. Suspendisse potenti....
        </p>
    </div>
</section>