<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" ng-app="app">
<head>
    <title>Svbtle</title>
    <!--<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>-->
    <link href="/app/style/site.css" rel="stylesheet" />
    <link href="/bower_components/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link rel="icon" type="image/png" href="/media/images/favicon.ico" />
</head>
<body id="content">
    <section ng-controller="linksCtrl">
        <!-- Left Nav Bar -->
        <left-navbar></left-navbar>

        <!-- Mid Col Content -->

        <div class="col-lg-8 content" ng-view>
            <h1 class="pageHeader">Svbtle</h1>
            <articles></articles>
            <about></about>
            <sign-up></sign-up>
            <login></login>
        </div>

        <!-- Right Col Content -->
        <div class="col-lg-3">
            <sub-articles></sub-articles>
            <sign-up-tips></sign-up-tips>
        </div>

        <!-- Right Nav Bar -->
        <right-menubar></right-menubar>
    </section>
    <!-- Footer -->
    <footer-layout></footer-layout>

    <!-- Scripts -->

    <script src="/bower_components/jquery/dist/jquery.js"></script>
    <script src="/bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="/bower_components/angular/angular.js"></script>
    <script src="/app/scripts/app.js"></script>
</body>
</html>
